@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.editorHeading span {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  position: absolute;
  top: -1%;
  left: 50%;
  /* margin-bottom: 2%; */
  transform: translate(-50%, -50%);
  background-image: linear-gradient(gold, gold);
  background-size: 90% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
  cursor: default;
}

@media (max-width: 600px) {
  .editorHeading span {
    font-size: 1.2em;
    top: 10;
    background-size: 80% 10px;
  }
}

@media (max-width: 400px) {
  .editorHeading span {
    font-size: 1em;
    background-size: 70% 8px;
  }
}

.editorHeading span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Download button css */

.edit-post {
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 7px;
  margin: 2px;
  border-radius: 15px;
  width: 36px;
  height: 36px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.edit-tooltip {
  position: absolute;
  top: 0px;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 150px;
}

.edit-tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.edit-post:hover .edit-tooltip {
  top: -13px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: hidden;
}

.edit-icon {
  font-size: 24px;
}

.edit-post:hover,
.edit-post:hover .edit-tooltip,
.edit-post:hover .edit-tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}


/*Publish button code css*/

.PubBtn button {
  font-family: inherit;
  font-size: 15px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 0.4em 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.PubBtn button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.PubBtn button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.PubBtn button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.PubBtn button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.PubBtn button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.PubBtn button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.PubBtn button:hover svg {
  transform: rotate(45deg);
}

/*Blur code*/
.editor-card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.blurred-editor-card {
  filter: blur(4px); /* Adjust the blur intensity */
  pointer-events: none; /* Prevent interactions with the blurred content */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
  z-index: 1;
}

.overlay-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.login-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}


@keyframes gradientSpin {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientSpin {
  background-size: 300% 300%;
  animation: gradientSpin 4s linear infinite;
}
