/* Define styles for different Markdown headers */
.markdown-content h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-content h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-content h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-content h4 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-content h5 {
  font-size: 0.83em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-content h6 {
  font-size: 0.67em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.card {
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
